
<div id="lessons">
    <h2>View My Lessons</h2>
    {% if lessons %}
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>Lesson</th>
                    <th>Tutor</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.language.name }}</td>
                        <td>{{ lesson.tutor.full_name }}</td>
                        <td>{{ lesson.time|time:"H:i" }}</td>
                        <td>{{ lesson.date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No lessons yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No lessons yet.</p>
    {% endif %}
</div>
