/*
 * Alerts
 */

/* Removes any rounded corners from elements. */
.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

/* Adds padding to the top of element. */
.content {
  padding-top: 10px;
}

/* Sets the height to 100% of the viewport height. */
.h-100 {
  min-height: 100vh;
  height: 100vh;
}

/* Centres the item vertically. */
.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */

/* Sets the font size. */
h1.cover-heading {
  font-size: 4rem;
}

/* Sets the font size. */
p.cover-text {
  font-size: 1.7rem;
}

/* Sets the background, padding and rounds the corners. */
.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}

/* Sets the opacity. */
.cover-card-block {
  opacity: 1
}


/*
 * Forms
 */

/* Hides the label elements. */
.nolabel label {
  display: none;
}

/* Removes the list styling. */
ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

/* Sets the colour and font weight. */
.low-key {
  color: #777777;
  font-weight: 300;
}

/* Adds vertical margins. */
.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */

/* Sets the width, clears the floats and floats it to the left. */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

/* Prevents overflow and adds left padding. */
.profile-text {
  overflow:hidden;
  padding-left:20px
}

/* Removes the bottom margin. */
h3.profile-title {
  margin-bottom: 0px;
}

/* Sets the colour, weight and italic. */
.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */

/* Removes the underline and sets the colour. */
.content a {
  text-decoration: none;
  color: #0d6efd;
}

/* Adds an underline and a colour on hover. */
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}
