{% extends 'base_content.html' %}

{% block title %}Create Invoice for {{ student.UserID.full_name }}{% endblock %}

{% block content %}
  <h1>Create Invoice for {{ student.UserID.full_name }}</h1>
  <p>Lessons to be invoiced:</p>
  <ul>
    {% for lesson in lessons %}
      <li>
        {{ lesson.date }} at {{ lesson.time }} - {{ lesson.language.name }} with {{ lesson.tutor.UserID.full_name }}
      </li>
    {% endfor %}
  </ul>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Create Invoice</button>
  </form>
{% endblock %}
