<!-- templates/base_content.html or your dashboard template -->

{% extends 'base_content.html' %}

{% block content %}
<div class="container">
  <div class="col-12">
    <h1>Welcome to your dashboard {{ user.username }}</h1>
    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs">
      {% if user.role == 'admin' and user.is_staff %}
        <li class="nav-item">
          <a class="nav-link {% if tab == 'accounts' %}active{% endif %}" href="?tab=accounts">All Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tab == 'tutors' %}active{% endif %}" href="?tab=tutors">Tutor Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tab == 'students' %}active{% endif %}" href="?tab=students">Student Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tab == 'lessons' %}active{% endif %}" href="?tab=lessons">Lessons</a>
        </li>
      {% elif user.role == 'tutor' %}
        <li class="nav-item">
          <a class="nav-link {% if tab == 'lessons' %}active{% endif %}" href="?tab=lessons">Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tab == 'availability' %}active{% endif %}" href="?tab=availability">Availability</a>
        </li>
      {% elif user.role == 'student' %}
        <li class="nav-item">
          <a class="nav-link active" href="#">View My Lessons</a>
        </li>
      {% endif %}
    </ul>

    <div class="tab-content mt-3">
      {% if user.role == 'admin' and user.is_staff %}
        {% include 'includes/admin_tabs.html' %}
  
      {% elif user.role == 'tutor' %}
        {% include 'includes/tutor_tabs.html' %}
        
      {%elif user.role == 'student' %}
        {% include 'includes/student_tabs.html' %}
      {% else %}
        <p>Your role is not recognized.</p>
      {% endif %}
    
    </div>
  </div>
</div>    
{% endblock %}
