{% extends 'base_content.html' %}
{% block content %}
<!-- depends on if reply_message exists, can reply to an existing message or send new message -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>{% if reply_message %}Reply to Message{% else %}Send a Message{% endif %}</h1>
      <form action="{% url 'send_message' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Send Message" class="btn btn-primary">
      </form>

      <!-- shows subject and content of message being replied to -->
      {% if reply_message %}
      <div class="alert alert-info mt-3">
        <strong>Replying to:</strong> {{ reply_message.subject }} <br>
        <em>{{ reply_message.content }}</em>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
