{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>{% if reply_message %}Reply to Message{% else %}Send a Message{% endif %}</h1>
      {% if not user.role == 'admin' %}
        <div class="card mb-4" style="max-width: 300px;">
          <div class="card-header bg-primary text-white">
            Contact an Admin
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              Admin usernames:
              {% for admin in admin_users %}
                <li>{{ admin.username }}</li>
              {% empty %}
                <li>No admins found.</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {%endif%}
      {% if form.errors %}
        <div class="alert alert-danger">
            <p><strong>There were errors with your submission:</strong></p>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
      {% endif %}


      <form action="{% url 'send_message' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Send Message" class="btn btn-primary">
      </form>
      
      {% if reply_message %}
      <div class="alert alert-info mt-3">
        <strong>Replying to:</strong> {{ reply_message.subject }} <br>
        <em>{{ reply_message.content }}</em>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}