{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Sign up</h1>
      <form action="{% url 'sign_up' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Sign up" class="btn btn-primary">
      </form>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const roleField = document.querySelector("#id_role");
          const languagesField = document.querySelector("#id_languages");

          // Function to toggle languages visibility
          function toggleLanguagesField() {
            if (roleField.value === "tutor") {
              languagesField.style.display = "block";
            } else {
              languagesField.style.display = "none";
            }
          }

          toggleLanguagesField(); // Initialize on load
          roleField.addEventListener("change", toggleLanguagesField); // Update on role change
        });
      </script>
    </div>
  </div>
</div>
{% endblock %}