
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      {% if not invoice.paid %}
  
      <div class="alert alert-danger">
        <strong>Warning!</strong> You have an unpaid invoice. This request will not be processed until you have made payment. 
      </div>
      {% endif %}
      <h1>Request a Lesson</h1>
      <form action="{% url 'create_request' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Submit Request" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}